/* App.css */
#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.adjustLetterSpacing {
  letter-spacing: -0.8438px;
}